.parent{
    display: flex;
    width: 425px;
    height: 300px;
    background: lightgray;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.child{
    background: red;
    width: 30%;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 38px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
img{
    filter: grayscale(100);
    width: 300px;
    height: 300px;
}
img:hover{
    filter: grayscale(0);
}
.imgdiv{
    width: 300px;
    height: 310px;
    padding: 5px;
    display: block;
    background-color: beige;
}
.parent:before{
    content: '';
    position: relative;
    background-color: aqua;
    top: -18px;
    width: 431px;
    height: 7px;
    background-image: linear-gradient(to right, #ffff00 10%, #ffff00 10%, #852456 10%, #852456 20%, #ea561b 20%, #ea561b 30%, #c5a4bd 30%, #c5a4bd 40%, #468499 40%, #468499 50%, #66cdaa 50%, #66cdaa 60%, #cc0000 60%, #cc0000 70%, #ffaa33 70%, #ffaa33 80%, #000179 80%, #000179 90%, #a49bda 90%, #a49bda 100%);
}



